@import "../config/variable.scss";
@import "../config/mixin.scss";

.Header {
  border-bottom: 1px solid rgba(0,0,0,0.15);

  .container {
    position: relative;
    display: flex;
    align-items: center;
    height: 64px;
  }

  &-switch {
    margin-left: auto;

    @include mq {
      display: none;
    }
}

  &-menu {
    position: absolute;
    left: 0;
    right: 0;
    top: 100%;
    background-color: gray;
    display: flex;
    flex-direction: column;

    @include mq("tablet") {
      display: flex;
      margin-left: auto;
      
    }

    &-user {
      margin-right: 10px;
      display: flex;
      flex-direction: column;
      a {
        display: inline-flex;
        align-items: center;
        padding-left: 20px;
        padding-right: 20px;
        height: $finger-size;

        &:hover {
          background-color: rgba(0,0,0,0.05);
        }
      }
    }

    

    &-helper {
      flex-direction: column;
      display: flex;
      margin-left: 20px;

      select {
        -webkit-appearance: none;
        -moz-appearance: none;
        border: 1px solid #e0e6f1;
        background-color: transparent;
        padding-left: 10px;
        padding-right: 10px;
        height: $finger-size;
        border-radius: 0;
        color: $color-navy;
        

        &:nth-child(1) {
          border-bottom-left-radius: $border-radius;
          border-top-left-radius: $border-radius;
        }

        &:nth-child(2) {
          border-left-width: 0;
          border-bottom-right-radius: $border-radius;
          border-top-right-radius: $border-radius;
        }
      }
    }
  }

  &-logo {
    img {
      width: 114px;
    }
  }
}

/* .header ve .header-2 class ına sahip olan etiket için
.header.header-2{

}
*/
