@import "../config/variable.scss";
@import "../config/mixin.scss";

.Header {
  border-bottom: 1px solid #ddd;
  height: 68px;

  .container {
    position: relative;
    display: flex;
    align-items: center;
    height: 100%;
  }

  &-switch {
    margin-left: auto;
    position: relative;
    left: 10px;

    @include mq {
      display: none;
    }
  }

  &-menu {
    pointer-events: none;
    opacity: 0;
    //transform: translateX(100%);
    transition: .4s;
    display: flex;
    position: absolute;
    left: 0;
    right: 0;
    top: 100%;
    padding-bottom: 20px;
    padding-left: $gutter;
    padding-right: $gutter;
    flex-direction: column;
    background-color: white;
    box-shadow: 0 20px 30px rgba(black, 0.2);

    .Header.menu-show & {
      opacity: 1;
      //transform: translateY(0);
      pointer-events: auto;
    }

    @include mq("tablet"){
      opacity: 1;
      margin-left: auto;
      transform: translateY(0);
      transition: 0s;
      flex-direction: row;
      position: static;
      box-shadow: none;
      background-color: transparent;
      padding-left: 0;
      padding-right: 0;
      padding-bottom: 0;
    }
 
    &-user {
      margin-right: 10px;
      display: flex;
      flex-direction: column;
      align-items: center;

      @include mq("tablet"){
        flex-direction: row;
      }

      a {
        width: 100%;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        padding-left: 20px;
        padding-right: 20px;
        height: $finger-size;

        &:hover {
          background-color: rgba(0, 0, 0, 0.05);
        }
      }
    }

    &-property {
      margin-top: 20px;
      justify-content: center;

      @include mq("tablet") {
        margin-top: 0;
      }
    }

    &-helper {
      margin-top: 20px;
      display: flex;
      justify-content: center;

      @include mq("tablet") {
        margin-left: 20px;
        margin-top: 0;
      }

      select {
        -webkit-appearance: none;
        -moz-appearance: none;
        border: 1px solid #e0e6f1;
        background-color: transparent;
        padding-left: 10px;
        padding-right: 10px;
        height: $finger-size;
        border-radius: 0;
        color: $color-navy;

        &:nth-child(1) {
          border-bottom-left-radius: $border-radius;
          border-top-left-radius: $border-radius;
        }

        &:nth-child(2) {
          border-left-width: 0;
          border-bottom-right-radius: $border-radius;
          border-top-right-radius: $border-radius;
        }
      }
    }
  }

  &-logo {
    img {
      width: 114px;
    }
  }
}

/* .header ve .header-2 class ına sahip olan etiket için
.header.header-2{

}
*/
