.Header {
  height: 68px; }
  .Header .container {
    position: relative;
    display: flex;
    align-items: center;
    height: 100%; }
  .Header-logo img {
    width: 144px; }
  .Header-switch {
    position: relative;
    left: 10px;
    margin-left: auto; }
    @media (min-width: 768px) {
      .Header-switch {
        display: none; } }
  .Header-menu {
    pointer-events: none;
    opacity: 0;
    transition: .2s;
    display: flex;
    position: fixed;
    left: 0;
    right: 0;
    top: 68px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    flex-direction: column;
    background-color: white;
    box-shadow: 0 20px 30px rgba(0, 0, 0, 0.2); }
    .Header.menu-show .Header-menu {
      pointer-events: auto;
      opacity: 1; }
    @media (min-width: 768px) {
      .Header-menu {
        pointer-events: auto;
        opacity: 1;
        transition: 0s;
        margin-left: auto;
        flex-direction: row;
        position: static;
        box-shadow: none;
        background-color: transparent;
        padding-left: 0;
        padding-right: 0;
        padding-bottom: 0; } }
    .Header-menu-user {
      margin-right: 10px;
      display: flex;
      flex-direction: column;
      align-items: center; }
      @media (min-width: 768px) {
        .Header-menu-user {
          flex-direction: row; } }
      .Header-menu-user a {
        width: 100%;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        padding-left: 20px;
        padding-right: 20px;
        height: 44px; }
        .Header-menu-user a:hover {
          background-color: #eee; }
    .Header-menu-property {
      margin-top: 20px;
      justify-content: center; }
      @media (min-width: 768px) {
        .Header-menu-property {
          margin-top: 0; } }
    .Header-menu-helper {
      margin-top: 20px;
      display: flex;
      justify-content: center; }
      @media (min-width: 768px) {
        .Header-menu-helper {
          margin-left: 20px;
          margin-top: 0; } }
      .Header-menu-helper select {
        -webkit-appearance: none;
        -moz-appearance: none;
        background-color: transparent;
        border: 1px solid #E0E6F1;
        padding-left: 10px;
        padding-right: 10px;
        border-radius: 0;
        color: #083B87;
        height: 44px; }
        .Header-menu-helper select:nth-child(1) {
          border-bottom-left-radius: 3px;
          border-top-left-radius: 3px; }
        .Header-menu-helper select:nth-child(2) {
          border-left-width: 0;
          border-bottom-right-radius: 3px;
          border-top-right-radius: 3px; }
