@charset "UTF-8";
.Header {
  border-bottom: 1px solid rgba(0, 0, 0, 0.15); }
  .Header .container {
    position: relative;
    display: flex;
    align-items: center;
    height: 64px; }
  .Header-switch {
    margin-left: auto; }
    @media (min-width: 768px) {
      .Header-switch {
        display: none; } }
  .Header-menu {
    position: absolute;
    left: 0;
    right: 0;
    top: 100%;
    background-color: gray;
    display: flex;
    flex-direction: column; }
    @media (min-width: 768px) {
      .Header-menu {
        display: flex;
        margin-left: auto; } }
    .Header-menu-user {
      margin-right: 10px;
      display: flex;
      flex-direction: column; }
      .Header-menu-user a {
        display: inline-flex;
        align-items: center;
        padding-left: 20px;
        padding-right: 20px;
        height: 40px; }
        .Header-menu-user a:hover {
          background-color: rgba(0, 0, 0, 0.05); }
    .Header-menu-helper {
      flex-direction: column;
      display: flex;
      margin-left: 20px; }
      .Header-menu-helper select {
        -webkit-appearance: none;
        -moz-appearance: none;
        border: 1px solid #e0e6f1;
        background-color: transparent;
        padding-left: 10px;
        padding-right: 10px;
        height: 40px;
        border-radius: 0;
        color: #083b87; }
        .Header-menu-helper select:nth-child(1) {
          border-bottom-left-radius: 3px;
          border-top-left-radius: 3px; }
        .Header-menu-helper select:nth-child(2) {
          border-left-width: 0;
          border-bottom-right-radius: 3px;
          border-top-right-radius: 3px; }
  .Header-logo img {
    width: 114px; }

/* .header ve .header-2 class ına sahip olan etiket için
.header.header-2{

}
*/
