.Navigation {
  height: 50px;
  background-color: #F1F6FF; }
  .Navigation .container {
    height: 100%;
    display: flex;
    align-items: center;
    overflow-x: scroll; }
  .Navigation-item {
    margin-right: 20px;
    font-size: 0.9em;
    color: #083B87; }
