$max-width: 1200px;
$gutter: 20px;
$border-radius: 3px;
$finger-size: 40px;
$font-size: 16px;
$font-size-small: 0.9em;
//
$color-soft-blue: #f1f6ff;
$color-navy: #083b87;
$color-blue: #01acee;
//
$font-family: "Open Sans", sans-serif;


