body {
  font-family: "Open Sans", Arial, sans-serif;
  line-height: 1.4; }

h1, h2, h3 {
  line-height: 1.2; }

.container {
  max-width: 1140px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px; }

a {
  transition: .15s; }

.icon {
  display: inline-block;
  width: 24px;
  height: 24px;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor; }

.select select, .button, .text {
  font-family: inherit;
  border-radius: 3px;
  border: 0;
  font-weight: bold;
  background-color: #fff; }

.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
  height: 44px;
  color: white;
  background-color: #01ACEE; }
  .button-icon {
    justify-content: center;
    color: black;
    padding-left: 0;
    padding-right: 0;
    width: 44px;
    background-color: transparent; }
  .button-full {
    width: 100%; }
  .button-navy {
    background-color: #083B87; }

.text {
  min-height: 44px;
  border-radius: 3px;
  color: #083B87;
  padding-left: 10px;
  padding-right: 10px;
  width: 100%; }
  .text::placeholder {
    color: rgba(8, 59, 135, 0.5); }

.select {
  position: relative;
  color: #083B87; }
  .select select {
    -moz-appearance: none;
    -webkit-appearance: none;
    display: inline-block;
    width: 100%;
    padding-right: 30px;
    color: #083B87;
    height: 44px; }
  .select-icon {
    pointer-events: none;
    z-index: 1;
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%); }

.form-item {
  position: relative; }
  .form-item .form-item-icon {
    pointer-events: none;
    z-index: 1;
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: #083B87; }
  .form-item .text {
    padding-left: 40px; }
  .form-item .select select {
    padding-left: 40px; }

.form-description {
  margin-top: 5px;
  font-size: 0.9em; }
  @media (min-width: 768px) {
    .form-description {
      margin-top: 20px; } }

.form-checkbox {
  display: flex;
  align-items: center; }

.checkbox {
  position: relative;
  display: flex; }
  .checkbox input {
    position: absolute;
    opacity: 0;
    top: 0;
    left: 0;
    pointer-events: none; }
  .checkbox:before {
    content: "";
    display: inline-block;
    font-size: 18px;
    width: 1em;
    height: 1em;
    border: 2px solid white; }
  .checkbox .icon {
    display: none;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    margin-left: 3px;
    margin-top: -2px;
    width: 20px;
    height: 20px; }
  .checkbox input:checked + .icon {
    display: block; }
