.container {
  background-color: white;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto; }

a {
  color: #083b87; }

body {
  font-family: "Open Sans", sans-serif; }

.button {
  display: inline-flex;
  align-items: center;
  padding-left: 20px;
  padding-right: 20px;
  height: 40px;
  background-color: #01acee;
  color: white;
  border-radius: 3px;
  font-weight: bold; }
